<h2>Items</h2>
  <% if @items.any? %>
    <ul>
      <% @items.each do |item| %>
        <li>
        <%= link_to item.name, location_item_path(item.location_id, item) %>
        </li>
      <% end %>
    </ul>
  <% else %>
    <p>There are no items yet</p>
  <% end %>
