<button><%= link_to "Add a New Item", new_item_path %></button>
<button><%= link_to "Add a New Enemy", new_enemy_path %></button>
<br>
<h1> <%= @location.name %> </h1>

<p> <%= @location.description %></p>

